p {
	color: white;
	text-align: left;
}

.gwc {
	height: ;
}

body {
	background-color: #ffb3b3;

}

.scratch {
	height: 175px;
	width: 500px;
}

.python {
	height: 175px;
	width: 500px;
}

.pygame {
	height: 175px;
	width: 175px;
}

.boe {
	height: 175px;
	width: 175px;
}

h2 {
	color: #bdf0dc;
	text-align: center;
}